:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #73c6b6;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.inactive{
    display: none;
}

/* Navbar */
.navbar{
    /* width: 100%; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-input-field);

}
.navbar .iconMenu{
    display: none;
    cursor: pointer;
    /* background-color: red; */
}
.navbar .logo{
    /* width: 10%; */
    width: 120px;
    margin-left: 50px;
    margin-right: 10px;
    cursor: pointer;
    /* background-color: red; */
}
.title{
    font-size: var(--lg);
    display: none;
}
.items{
    width: 600px;
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /* background-color: red; */
    /* margin-left: 12px; */

}
.items a:hover{
    border: var(--hospital-green) solid 1px;
    border-radius: 4px;
    color: var(--hospital-green);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: red; */
}
.items a{
    text-decoration: none;
    font-size: var(--md);
    color: var(--very-light-pink);
    /* background-color: red; */
    margin: 0 10px ;
}
.navEmail{
    /* background-color: blue; */
    font-size: var(--sm);
    font-weight: lighter;
    cursor: pointer;
    margin-left: 5px;
}
.navbarRight{
    display: flex;
    margin-right: 15px;
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 20%; */
    /* cursor: pointer; */
}
.navbarRight .flecha{
    margin-left: 8px;
    margin-right: 20px;
    transform: rotate(90deg);
    cursor: pointer;
    /* background-color: red; */
}
.navbarRight img:last-child{
    /* background-color: red; */
    cursor: pointer;
}

/* Menu Desktop */
.container{
    background-color: var(--white);
    position: absolute;
    top:50px;
    right: 75px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.container ul{
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
.container ul li{
    list-style: none;
    text-align: end;
    /* background-color: red; */
}
.container ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--hospital-green);
    /* background-color: red; */
}
.container ul li:nth-child(1),
.container ul li:nth-child(2){
    font-weight: bold;
    /* background-color: red; */
}
.container ul li a{
    /* background-color: red; */
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--black);
    display: inline-block;
    /* background-color: red; */
}
.container ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
    /* background-color: red; */
}

/* Menu Mobile */
.menu{
    z-index: 2;
    /* display: none; */
    background-color: var(--white);
    position: absolute;
    top:50px;
    width: 100%;
    left: 0px;
    /* margin: 24px; */
    /* padding-left: 50px; */
    /* height: auto; */
    /* display: grid; */
    justify-content: center;
    /* place-content: center; */
}
.lista{
    /* width: 300px; */
    position: relative;
    width: 150px;
    left: 40px;
    /* display: grid; */
    /* left: 100px; */
    /* padding-top: 20px; */
    /* padding-left: 120px; */
    margin: 0;
    color: var(--black);
}
.up{
    display: flex;
    flex-direction: column;
    border-bottom: var(--very-light-pink) solid 1px;
    /* color: var(--black); */
}
.reference{
    font-size: var(--lg);
}
.lista li{
    /* background-color: red; */
    list-style: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: var(--black); */
    /* text-decoration: none; */
}
.bottom{
    margin-top: 30px;
    margin-bottom: 60px;
}
.emailMobile{
    /* background-color: red; */
    font-size: var(--sm);
    margin-bottom: 0;
    padding-left: 40px;
    left: 100px;
    cursor: pointer;
    width: 150px;
    color: var(--very-light-pink);
    position: relative;
    left: 40px;
}
.up a,
.bottom a{
    text-decoration: none;
    /* background-color: red; */
    color: var(--black);
}
.signUp{
    color: var(--hospital-green);
    font-size: var(--sm);
    position: relative;
    text-decoration: none;
    padding-left: 40px;
    width: 80px;
    left: 40px;
}

/* Shoping cart */

.shopping{
    background-color: var(--white);
    width: 420px;
    /* height: 100%; */
    position: absolute;
    box-sizing: border-box;
    /* display: grid;  */
    top: 50px;
    padding: 24px;
    right: 0;
}
.articles{
    /* display: grid;
    place-items: center end; */
    /* position: absolute; */
    width: 100%;
    /* top: 80px; */
    /* padding: 0 20px; */
}
.titleShoping{
    display: flex;
}
.flechaShoping{
    transform: rotate(180deg);
    margin-left: 20px;
    margin-right: 20px;
}
.titleShoping h1{
    font-size: var(--lg);
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card div{
    display: flex;
    align-items: center;
}
.card div:first-child p{
    color: var(--very-light-pink);
}
.card img:first-child{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
    /* background-color: red; */
}
.card img:nth-child(2){
    margin-left: 20px;
    /* background-color: red; */
}
.amount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--text-input-field);
    align-items: center;
    height: 100px;
}
.amount p:first-child{
    font-weight: bold;
    margin-left: 20px;
}
.price{
    font-weight: bold;
}
.priceTotal{
    margin-right: 20px;
    font-weight: bold;
}

.input-button{
    height: 50px;
    width: 100%;
    justify-self: center;
    color: var(--white);
    border: none;
    background-color: var(--hospital-green);
    border-radius: 8px;
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 40px;
}


/* Home page */
/* .home{
    width: 100%;
    position: absolute;
} */
.home-container{
    z-index: 1;
    margin-top: 20px;
    display: grid;
    /* position: relative; */
    place-content: center;
    gap: 26px;
    grid-template-columns: repeat(auto-fill, 240px);
}
.product{
    width: 240px;
}
.product .img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}
.containerProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: var(--lg);
}
.description{
    margin-top: 0;
    color: var(--very-light-pink);
}
.car{
    /* position: absolute; */
    margin: 0;
    /* z-index: 0; */
    filter: grayscale(100%);
    /* background-color: red; */
}


/* Product detail */
.productDetail{
    background-color: var(--white);
    width: 350px;
    right: 0px;
    height: 100%;
    position: absolute;
    top: 50px;
}
.detail{
    width: 350px;
    justify-items: center;
    /* position: relative; */
    display: grid;
}
.detail div:first-child{
    margin-bottom: 20px;
}
.detail .close{
    border-radius: 50px;
    width: 30px;
    position: absolute;
    background-color: var(--text-input-field);
    cursor: pointer;
    /* background-color: red; */
}
.detail img:nth-child(2){
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 350px;
}
.detail div:nth-child(2){
    width: 90%;
    margin-bottom: 70px;
}
.detail h1{
    font-weight: bold;
    font-size: var(--lg);
    margin-bottom: 0;
    color: var(--dark);
    /* background-color: red; */
}
.detail h2{
    font-size: var(--lg);
    color: var(--dark);
    font-weight: lighter;
    margin: 0;
    /* background-color: red; */
}
.detail p{
    font-size: var(--md);
    color: var(--dark);
    font-weight: lighter;
    /* background-color: red; */
}
.detail div:last-child{
    position: relative;
    width: 90%;
    display: grid;
    align-items: center;
    /* justify-content: center; */
}
.detail div:last-child img:nth-child(1){
    color: var(--white);
    z-index: 2;
    margin-left: 75px;
    filter: invert(100%);
}
.detail input{
    background-color: var(--hospital-green);
    color: var(--white);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: var(--lg);
    position: absolute;
    z-index: 1;
    /* background-color: red; */
}



@media (max-width:640px) {
    /* Navbar */
    .navbar{
        justify-content: space-around;
    }
    .navbar .iconMenu{
        display: block;
    }
    .title{
        display: block;
    }
    .items{
        display: none;
    }
    .navEmail{
        display: none;
    }
    .navbar .logo{
        display: none;
    }
    .navbarRight .flecha{
        display: none;
    }
    .navbar div:last-child{
        justify-content: flex-end;
    }


    .lista{
            padding: 24px 0 0 0;
    }
    .emailMobile,
    .signUp{
        padding: 0;
    }
    .container{
        display: none;
    }


    .shopping{
        width: 100%;
    }


    .home-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product{
        width: 140px;
    }
    .product .img{
        width: 140px;
        height: 140px;
    }


    /* .detail div:first-child img:first-child{
        display: none;
    } */
    .productDetail{
        width: 100%;
    }
    .detail{
        width: 100%;
    }
    
}


@media (min-width:641px) {
    .menu{
        display: none;
    }
}